mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 50px;
  margin: 15px 0;
}
.image-preview img {
  height: 100%;
}
