:host {
  display: block;
  margin-top: 15px;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 10%;
}
.post-image img {
  width: 100%;
}

mat-paginator {
  margin-top: 15px;
}
